@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error</h1>
<p class="text-danger">
    <strong>An error occurred while processing your request.</strong>
    @if (ShowRequestId) {
        <br/>
        <strong>Request ID:</strong> <code>@RequestId</code>
    }
</p>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = null!;

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized()
        => RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
